<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">Example Restaurant</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li><a href="#/">Home</a></li>
    </ul>
  </section>
</nav>

<!--   <div class="row">
    <img src="https://images.unsplash.com/photo-1441123285228-1448e608f3d5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5a92e4c4ab86ea2658de56d3c0d3df7f">
  </div> -->



<section class="container" ui-view></section>